:root {
  --primary: black;
  --secondary: #10c6bb;
  --tertiary: white;
  --bg-color: rgb(23, 42, 69);
}
[data-theme="dark"] {
  --primary: white;
  --secondary: #10c6bb;
  --tertiary: black;
  --bg-color: black;  
}

html {
    scroll-behavior: smooth;
}
body { 
    background-color: var(--primary);
    height: 100%; 
    margin: auto;
    overflow:auto;
}
header {
    display: flex;
    width: 100%;
    border-top: 2px solid var(--secondary);
    border-bottom: 1px solid grey;
}
.logo {
    width: 85%;
    margin-top: 15px;
    margin-left: 6%;
    margin-bottom: 10px;
    cursor: pointer;
}
.logo-img {
  display: block;
}

.main-cont {
  /* height: 650px; */
  display: block;
}
.main-cont h1 {
  color: var(--secondary);
  margin-left: 25px;
  font-size: 40px;
  margin-top: 20px;
  font-family: OCR A Std, monospace;
}
.main-cont p {
  margin-top: 100px;
  margin-left: 25px;
  color: var(--tertiary);
  font-size: 12px;
}

h3 {
color: grey;
  margin-top: 30px;
  margin-left: 25px;
  font-size: 12px;
}
#introduction--about{
  color: var(--tertiary);
  font-size: 25px;
  margin-left: 25px;
  margin-top: 20px;
}
.main-cont h4 {
  text-align: center;
  color: var(--tertiary);
} 
.wrapper {
	text-align: center;
		color: #fff;
		font-size: 92px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #e72a3a 10%, blue 50%, var(--secondary) 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-emphasis-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.button {
  background-color: black;
  width: 35%;
  height: 50px;
  margin-left: 30px;
  border-radius: 10px;
  margin-top: 40px;
  border: 1px solid var(--secondary);
}
.button a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 15px;
}
.socials {
  margin-top: 40px;
}
.socials a {
  font-size: 25px;
  color: var(--secondary)
}
.bottom-nav{
  background-color: var(--secondary);
  position: fixed;
  bottom: -15px;
  left: 0px;
  right: 0px;
  display:flex;
  justify-content: space-around
}
svg{
  font-size : 30px;
  margin: 15px;
  color: var(--tertiary)
}
.active svg{
  color: black;
}

.img-cont {
  text-align: center;
  margin: -70px 0px 30px 0px;
}
.img-cont img {
  border-radius: 10px;
}
.about {
	margin-bottom: 100px;
}
.about h1 {
  margin-top: 10px;
  font-family: FreeMono, monospace;
  color: var(--secondary);
  font-size: 40px;
  text-align: center;
}
.about p {
  color: var(--tertiary);
  margin: 30px;
  font-family: FreeMono, monospace;
  font-size: 15px;
}
.otherProject {
  height: 300px;
  background-color: var(--bg-color);
  box-shadow: rgba(10, 33, 17, 0.7) 0px 10px 30px -15px;
  color: rgb(203, 210, 246);
  padding: 20px 20px;
  margin: 25px 0px 10px 0px;
  border-radius: 20px;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.rightIcons .right {
  font-size: 20px;
  color: rgb(168, 178, 209);
  padding: 0 3px;
}
.icons .folder {
  font-size: 35px;
  color: #64ffda;
  font-weight: bolder;
}
.otherProject .title {
  font-size: 30px;
  font-weight: 600;
}
.otherProject .subtitle {
  font-size: 15px;
  font-weight: 200;
  color: rgb(168, 178, 209);
}
.otherProject button {
  background-color: black;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  border: 1px solid var(--secondary);
}
.otherProject a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 15px;
}
@media screen and (min-width: 700px) {
  .ab{
    margin-top: -110px;
  }
  .img-cont img {
    width: 400px;
    height: 400px;
  }
  .bottom-nav {
    display: none;
  }
  .main-cont {
    display: block;
    text-align: center;
  }
  .main-cont h1 {
    margin-left: 25px;
    font-size: 40px;
    margin-top: 2%;
  }
  .main-cont p {
    margin-top: 5%;
    margin-left: 50px;
    font-size: 15px;
  }
  
  h3 {
    margin-top: 2%;
    margin-left: 25px;
    font-size: 12px;
  }
  #introduction--about{
    font-size: 25px;
    margin-left: 25px;
    margin-top: 2%;
  }
  .main-cont h4 {
    text-align: center;
  } 
  .button {
    width: 15%;
    margin-top: 5%;
  }
  .socials {
    margin-top: 5%;
}
}